{% extends 'base.html' %}
{% block content %}
    <div class="post-detail-container">
        <h1>{{ post.title }}</h1>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-author"><strong>Автор:</strong> {{ post.author }}</p>

        <h3>Комментарии:</h3>
        <ul class="comment-list">
            {% for comment in comments %}
                <li class="comment-item">
                    <p><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</p>

                </li>
            {% empty %}
                <li>Комментариев пока нет.</li>
            {% endfor %}
        </ul>

        <div class="comment-form">
            <h4>Оставить комментарий:</h4>
            <form action="{% url 'forum:post_detail' post.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Добавить комментарий</button>
            </form>
        </div>
    </div>
{% endblock %}
