{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Логотип и название -->
            <a class="navbar-brand" href="{% url 'tasks:index' %}">
                <img src="{% static 'tasks/img/logo.png' %}" alt="Logo" width="30" height="30"
                     class="d-inline-block align-top">
                ToDoList
            </a>
            <!-- Ссылки в навигации -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:guide' %}">Гайд по заданиям</a>
                    </li>

                    {% if user.is_authenticated %}
                    <!-- Если пользователь авторизован -->
                    <li class="nav-item">
                        <span class="nav-link">Привет, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'users:logout' %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Выйти</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:create_task' %}">Новое дело</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:mytasks' %}">Мои дела</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:profile' %}">Мой профиль</a>
                    </li>
                    {% else %}
                    <!-- Если пользователь не авторизован -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:signup' %}">Зарегистрироваться</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
