{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="guide-section">
    <div class="container">
        <h1 class="guide-title">Гайд по использованию сайта</h1>
        <p class="guide-intro">
            Добро пожаловать в наш гайд! Здесь вы найдете полезную информацию о том, как пользоваться нашим ToDo List сайтом.
        </p>
        <div class="guide-content">
            <h2 class="guide-subtitle">1. Регистрация и Вход</h2>
            <p>
                Чтобы начать использовать наш сервис, сначала нужно зарегистрироваться. Перейдите на страницу регистрации, введите свои данные и создайте аккаунт. После этого вы сможете войти в систему, используя свои учетные данные.
            </p>

            <h2 class="guide-subtitle">2. Создание и Управление Задачами</h2>
            <p>
                После входа в систему вы сможете создавать новые задачи. Для этого перейдите на страницу создания задачи, укажите название, описание и дату выполнения. Вы также можете редактировать и удалять задачи через соответствующие кнопки в списке задач.
            </p>

            <h2 class="guide-subtitle">3. Отслеживание Прогресса</h2>
            <p>
                В разделе "Мои дела" вы сможете отслеживать прогресс выполнения задач. Мы предоставляем возможность отмечать задачи как выполненные и сортировать их по различным критериям.
            </p>

            <h2 class="guide-subtitle">4. Использование Пометок и Комментариев</h2>
            <p>
                Вы можете добавлять пометки и комментарии к каждой задаче, чтобы сделать процесс управления более удобным и организованным.
            </p>

            <h2 class="guide-subtitle">5. Настройки Профиля</h2>
            <p>
                Перейдите на страницу профиля, чтобы изменить свои личные данные, изменить пароль или настроить уведомления.
            </p>
        </div>
    </div>
</section>
{% endblock %}
