{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="main-section">
    <div class="container">
        <h1 class="main-title">Добро пожаловать на ToDo List</h1>
        <p class="main-text">
            Мы рады видеть вас на нашем сайте! ToDo List создан для того, чтобы помочь вам организовать свои задачи и сделать управление ими простым и удобным.
        </p>
        <div class="main-info">
            <div class="info-item">
                <h2 class="info-title">Простота и Удобство</h2>
                <p class="info-text">
                    Наш интерфейс интуитивно понятен и прост в использовании. Вы сможете легко добавлять, редактировать и удалять задачи всего в несколько кликов.
                </p>
            </div>
            <div class="info-item">
                <h2 class="info-title">Эффективное Управление</h2>
                <p class="info-text">
                    Следите за прогрессом выполнения задач, сортируйте их по категориям и используйте пометки и комментарии для лучшей организации.
                </p>
            </div>
            <div class="info-item">
                <h2 class="info-title">Безопасность и Конфиденциальность</h2>
                <p class="info-text">
                    Мы гарантируем безопасность ваших данных и их конфиденциальность. Все ваши задачи будут защищены и доступны только вам.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
